@import url("https://fonts.googleapis.com/css?family=Mulish");
@import url("https://fonts.googleapis.com/css?family=Urbanist");

html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: Mulish;
  margin: 0;
  background-color: #fff9f9;
}

#root {
  /* margin: 0 auto; */
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hide-cell-desktop {
  display: none !important;
}

.error-text {
  color: red;
  font-size: 12px !important;
  margin-top: 20px !important;
}

@media screen and (max-width: 768px) {
  .hide-cell-mobile {
    display: none !important;
  }

  .hide-cell-desktop {
    display: flex !important;
  }
}